// variables
$container: 1170px;
$gap: 15px;
$col: 12;
$colWidth: 100% / $col;

$primaryColor: pink;
$secondaryColor: #4e4e4e;

$btnBorderColor: $primaryColor;


*{
    box-sizing: border-box
}

.container{
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gap;
}

/* Ba-grid  */
.ba-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
}

.ba-row + .ba-row{
    margin-top: 1rem;
}

[class^='ba-col']{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@for $i from 1 through $col {
    .ba-col-#{$i}{
        width: $colWidth * $i;
    }
}

// mixins
@mixin buttonHover {
    background-color: pink;
    border-color: darken($btnBorderColor, 15%)

}

/* ba-common */

.ba-text-center{
    text-align: center;
}

.ba-text-left{
    text-align: left;
}
.ba-text-right{
    text-align: right;
}
.ba-text-justify{
    text-align: justify;
}

@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
    font-weight: 700;
    font-style: normal
}