@import "layout.scss";

a {
	color: inherit;
	text-decoration: none;
}

.ba-header {
	background: {
		image: url(../img/hero.jpg);
		size: cover;
	};
	height: 1070px;
}

.ba-header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 30px 0 30px;
}

.ba-menu {
	display: flex;
	list-style: none;
}

.ba-menu__item + .ba-menu__item {
	margin-left: 30px;
}

.ba-menu__link {
	font: {
		family: 'ProximaNova', sans-serif;
		weight: 400;
		size: 1.5rem;
	};
	line-height: 60px;
	color: #fff;
	text-transform: uppercase;
}

.ba-header__title {
	font: {
		family: 'ProximaNova', sans-serif;
		weight: 700;
		size: 4.5rem;
	};
	line-height: 60px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 300px;
	text-align: center;
}

.ba-header__text {
	font: {
		family: 'PT Sans', sans-serif;
		size: 1.875rem;
		style: italic;
	};
	color: #fff;
	text-align: center;
}

// ba-about START

.ba-about {
	background-color: #ebebeb;
	padding: 125px 0;
}

.ba-about-card {
	width: 380px;
	height: 555px;
	background: {
		image: url(../img/about-card.jpg);
		size: cover;
	};
	padding-top: 75px;
	text-align: center;
}

.ba-section__title {
	font: {
		family: 'ProximaNova', sans-serif;
		weight: 400;
		size: 2.25rem;
	};
	line-height: 47.15px;
	color: #fff;
	text-transform: uppercase;
	margin: 25px 0;
}

.ba-about__text	{
	font: {
		family: 'PT Sans', sans-serif;
		weight: 400;
		size: 1.25rem;
	};
	color: #665f60;
	padding-top: 75px;
}

.ba-btn {
	width: 195px;
	height: 50px;
	border: 1px solid #7d7a7c;
	background-color: transparent;
	display: block;
	margin: 0 auto;
	margin-top: 85px;
	font: {
		family: 'PT Sans', sans-serif;
		size: 1.25rem;
		style: italic;
	};
	color: #7d7a7c;
}

// ba-services START

.ba-services {
	position: relative;
	background-color: #ebebeb;
}

.ba-services .ba-row + .ba-row {
	margin-top: 0;
}

.ba-services-card {
	height: 400px;
	padding-top: 95px;
	text-align: center;
}

.ba-services .ba-row:first-child .ba-col-4:first-child {
	background-color: #dbdbdb;
}

.ba-services .ba-row:nth-child(2) .ba-col-4:nth-child(2) {
	background-color: #dbdbdb;
}

.ba-services__title {
	font: {
		family: 'PT Sans', sans-serif;
		weight: 700;
		size: 1.5rem;
	};
	color: #665f60;
	text-transform: uppercase;
}

.ba-services__text {
	font: {
		family: 'PT Sans', sans-serif;
		size: 1.125rem;
		style: italic;
	};
	color: #665f60;
}

.ba-services-info {
	position: absolute;
	top: 0;
	right: 12.2em;
	background: {
		image: url(../img/services-info.jpg);
		size: cover;
	};
	width: 410px;
	height: 800px;
	padding-top: 115px;
	text-align: center;
}

.ba-section__text {
	font: {
		family: 'PT Sans', sans-serif;
		size: 1.125rem;
		style: italic;
	};
	color: #fff;
	margin-top: 105px;
}

// ba-works START

.ba-works {
	background: {
		image: url(../img/works-bg.jpg);
		size: cover;
	};
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
}

.ba-works .ba-section__title {
	margin-bottom: 60px;
}

.ba-slide img {
	display: block;
	margin: 0 auto;
}

.btn-wt {
	border: 1px solid #fff;
	color: #fff;
}

.slick-dots li {
	margin: 0;
}

.slick-dots li.slick-active button::before {
	content: url(../img/btn-active.png);
	margin-top: 30px;
}

.slick-dots li button::before {
	content: url(../img/btn-default.png);
	margin-top: 30px;
}

.slick-prev::before {
	content: url(../img/btn-prev.png);
}

.slick-next::before {
	content: url(../img/btn-next.png);
}